{% extends "base.html" %} {% load static i18n %}

<!-- Custom CSS -->
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Press+Start+2P&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/music-library.css" %}">
{% endblock css %}

<!-- Body -->
{% block content %}
<!-- Header -->
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url "main:index" %}">Downtime</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a button
              type="button"
              class="btn btn-primary cc"
              href="{% url "main:music-create" %}"
            >
              New Entry
            </a>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a button type="button" class="btn btn-primary cc" href="{% url "account_logout" %}">
                Logout
              </a>
              <a button type="button" class="btn btn-primary cc" href="{% url "users:detail" request.user.username  %}">{% trans "My Profile" %}</a>
            {% else %}
              <a button type="button" class="btn btn-primary cc" href="{% url "account_login" %}">
                Login
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4">
    DOWNTIME
    <small>Music Library</small>
  </h1>

  <div class="row">
    {% if music %}
      {% for i in music %}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="{{ i.get_absolute_url }}">
            <img class="card-img-top" src="http://placehold.it/700x400" alt=""
          /></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ i.get_absolute_url }}">{{ music.title }}</a>
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
              numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit,
              repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora
              ex quae? Nihil, dolorem!
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>This library is empty.</p>
    {% endif %}
  </div>
  {% comment %} <div class="row">
    <ul class="collections">
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
    </ul>
  </div>
  <div class="row">
    <ul class="recommendations">
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="{% url "movie_card" %}">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="" />
        </a>
      </div>
    </ul>
  </div> {% endcomment %}
</div>
<footer class="bottom">
  <p>&copy; 2020 DownTime, Inc. All rights reserved.</p>
  <a href="terms">Terms</a>
  <a href="privacy">Privacy</a>
  <a href="help">Help</a>
</footer>
{% endblock content %}