{% extends "base.html" %} {% load static i18n %}

<!-- Custom CSS -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/pick-library.css" %}">
{% endblock css %}

<!-- Title -->
{% block title %}My Library{% endblock %}

<!-- Body -->
{% block content %}
<!-- Header -->
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url "main:index" %}">Downtime</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a button type="button" class="btn btn-primary cc" href="{% url "account_logout" %}">
                Logout
              </a>
              <a button type="button" class="btn btn-primary cc" href="{% url "users:detail" request.user.username  %}">{% trans "My Profile" %}</a>
            {% else %}
              <a button type="button" class="btn btn-primary cc" href="{% url "account_login" %}">
                Login
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Library -->
<main>
  <div class="options">
    <div class="movies-section">
      <a href="{% url "main:movie" %}"><button class="movies"><span>MOVIES</span></button></a>
    </div>
    <div class="music-section">
      <a href="{% url "main:music" %}"><button class="music"><span>MUSIC</span></button></a>
    </div>
    <div class="books-section">
      <a href="{% url "main:book" %}"><button class="books"><span>BOOKS</span></button></a>
    </div>
    {% if library %}
      {% for libraries in library %}
      <div class="music-section">
        <a href=""><button class="music"><span></span></button></a>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</main>

<!-- Footer -->
<footer class="bottom">
  <p>&copy; 2020 DownTime, Inc. All rights reserved.</p>
  <a href="terms">Terms</a>
  <a href="privacy">Privacy</a>
  <a href="help">Help</a>
</footer>

{% endblock content %}