body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Trade Winds';
}



.container {
  height: 100%;
}

.container > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  padding: 0.5em;
  /* background-color: rgba(255, 255, 255, 0.5); */
  font-family: 'Trade Winds';
  font-weight: bold;
  font-size: 80px;
}

.logIn {
  position: relative;
  right: 350px;
  bottom: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #7e0cf5;
  color: white;
  font-size: 18px;
}

.signUp {
  position: relative;
  bottom: 350px;
  left: 250px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #7e0cf5;
  color: white;
  font-size: 18px;

}

.a span {
  position: absolute;
  top: 500px;
  left: 600px;
  color: #7e0cf5;
  font-family: 'Helvetica';
  font-weight: bolder;
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.5);
}

.a span i {
  position: relative;
  left: 70px;
  font-size: 30px;
}


.hero_scroll .che {
  display: block;
  margin-top: 20px;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: pulse;
}


div .about {
  /* padding: 7em; */
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Trade Winds';
  font-size: 50px;
}

.serve {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -400px;
}


.serve > div {
  /* flex-grow: 1; */
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  position: relative;
  top: 150px;
  white-space: nowrap

}

.serve>div:nth-child(even) {
  background: #9951ff;
}

.serve>div:nth-child(odd) {
  background: #45eba5;
}


.serve-right {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -100px;
}


.serve-right > div {
  background: purple;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  position: relative;
  top: 150px;
  left: 0;
  white-space: nowrap
}

.serve-right>div:nth-child(even) {
  background: #fd0054;
}

.serve-right>div:nth-child(odd) {
  background: #f8b500;
}

.items {
  margin-bottom: 50px;
  position: relative;
  left: 330px;
  top: -60px;
}


.flex-container {
  display: flex;
}

.flex-container > div {
  border-radius: 25px;
  /* background-color: #f1f1f1; */

  margin: 10px;
  padding: 50px;
  font-size: 30px;
  margin-top: auto;
}

.main-comp-a {
  padding: 5em;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-comp-b {
  padding: 5em;
  background-color: rgba(255, 255, 255, 0.5);
}

.a {
  /* background-color: cadetblue; */
  background-image: url("../images/Anna-Hurley.png");
  background-position: center;
  background-size: cover;

}

.b {

  background-image: url("../images/mandancing.png");
  background-position: center;
  background-size: cover;
}

.c {
  /* background-image: url("../img/dog.png");
  background-position: center;
  background-size: cover; */
  background-color: #57007e;
}




.u {
  background-color: cornflowerblue;
}

.w {
  background-color: goldenrod;
}

.x {
  background-color: darkseagreen;
}

.y {
  background-color: cadetblue;
}

.z {
  background-color: indianred;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}

.nav-bar > a {
  display: block;
  text-decoration: none;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

a.selected {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}


.about-downtime {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  left: 100px;
  top: -150px;
  font-size: 20px;
  color: black;
  width: 100%;
}

.about-downtime > p {
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 20px;
}

section {
  margin: 0;
  padding: 0;
}

h5 {
  font-family: 'Simonetta', ;
  position: relative;
  left: 800px;
  top: -300px;
  text-align: center;
  width: 400px;
  font-size: 30px;
  background-color: black;
  border-radius: 5px;
  color: white;

}

.grid-container {
  display: grid;
  /* grid-template-columns: repeat(5, 2fr);
  grid-template-rows: repeat(3, 2fr); */
  /* grid-template-areas:
    'a a a a a a a'
    'b b j c d k q'
    'b b f g h i r'
    'e u f g h i s'
    'l l o p m n t'; */

  grid-template-areas:
  'a b c d e'
  'f g h i j'
  'k l m n o';

  grid-gap: 20px 40px;
  background-color: purple;
  position: relative;
  left: -750px;
  top: 200px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  /* padding: 60px; */
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 30px;
}

.grid-item {
  color: #612147;
  background-size: cover;
}

.mov-a {
  background-image: url(../images/curious-case-of-benjamin-button-the-1440x960.jpg);
}

.mov-f {
  background-image: url(../images/avatar.jpg);
}

.mov-g {
  background-image: url(../images/summer.jpg);
}

.song-b {
  background-image: url(../images/love-yourz-j-cole-2014-forest-hills-d-2-0-9374861.png);
}

.song-g {
  background-image: url(../images/ifIwereaboy.jpg);
}

.song-l {
  background-image: url(../images/onthefloor.jpg);
}


.book-c {
  background-image: url(../images/dertogada.jpg);
}

.book-h {
  background-image: url(../img/adapt.jpg);
}

.book-m {
  background-image: url(../images/claudesteele.jpg);
}

.pod-d {
  background-image: url(../images/The-Dropout-hed.jpg);
}

.pod-i {
  background-image: url(../images/reveal.jpg);
}

.pod-n {
  background-image: url(../images/nprmoney.jpg);
}

.rec-e {
  background-image: url(../images/doro.jpg);
}

.rec-j {
  background-image: url(../images/burrito.jpg);
}

.rec-o {
  background-image: url(../images/steak.jpeg);
}

.grid-itemh {
  color: #24009c;
  font-weight: bold;
}
