html, body, .holster {
  height: 100%;
  width: 100%;
  font-size: 20px;
  word-spacing: 3px;
}

.logo {
  font-family: Anton;
  margin: 25px;
  padding: 25px;
  font-weight:bold;
  font-size: 80px;
  color: black;
}

.logo-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: grey;
  width: 50%;
  height: 20%;
}

.sub-title {
  font-family: Lacquer;
  font-size: 30px;
  font-weight: bolder;
  color: #FFFFFA;
  margin: 20px;
}


.holster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
  width: 100%;
  height: 100%;
}


.container {
  display: flex;
  overflow: auto;
  outline: 1px;
  flex: none;
}

.container.x {
  width: 100%;
  height: 100%;
  flex-flow: row nowrap;
}

.container.y {
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;

}


.y.proximity-scroll-snapping {
  scroll-snap-type: y proximity;
}

.container > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}



.y.container > div {
  line-height: 100%;
  font-size: 128px;
  width: 100%;
  height: 100%;
}
/* appearance fixes */
/* .y.container > div:first-child {
  line-height: 1.3;
  font-size: 64px;
} */
/* coloration */

.container > div:nth-child(1) {
  /* background-color: #87CCEA; */
  background-image: url('../images/aliis-sinisalu-yzVxz_OYVxU-unsplash.jpg');
  background-size: 300px;
}

.container > div:nth-child(2) {
  background-image: url('../images/elcarito-MHNjEBeLTgw-unsplash.jpg');
  /* background-color: #5DFDCB; */
  background-size: 100%;
}

.container > div:nth-child(3) {
  /* background-color: #87CCEA; */
  background-image: url('../images/ali-arif-soydas-3ICVaI2uzfE-unsplash.jpg');
  /* background-size: 800px; */
}


.nav-title {
  position: relative;
  top: 10px;
  padding: 10px;
}


.button-center {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top:10%;
}

.radio-points {
  margin-top: -150px;
  position: fixed;
  padding: 40px;
}

.sign {
  display: flex;
  position: relative;
  margin-top: -800px;
  margin-left: 1300px;
}



.container-place {
  display: flex;
  flex-direction: row;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196F3; */
  padding: 50px;
  position: relative;
  top: 0px;
  left:100px;
  width: 80%;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

i {
  font-size: 4em;
  color: #9000B3;
  /* weight: bold; */
}

h5 {
  color: #A50104;
  font-family: 'Oswald', ;
  font-weight: bold;
}

.snap-ele > h2 {
  position: relative;
  top: 50px;
  margin: 10px;
  padding: 20px;
  font-family: 'Roboto', ;
  font-weight: black;
  font-size: 80px;
  color: black;
}
/* h2 {
  position: relative;
  top: 100px;
  left: 200px;
  text-align: center; */
  /* background-color: yellow; */
  /* width: 50%; */
  /* margin: 10px; */
  /* padding: 50px; */
/* } */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 20px;
  margin: 100px;
  text-indent: 50px;
  border: 3px dashed #1c87c9;
  vertical-align: middle;
}
