body {
    align-items: center;
    font-family: Helvetica;
    font-size: 1em;
    padding-top: 0px;
}

.single-items {
    /* border: 1px solid lightgray; */
    padding: 1rem;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
    padding-top: 100px;
}

.collections {
    padding: 1rem;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
}

.recommendations {
    padding: 1rem;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
}


.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 9px;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}