body {
    align-items: center;
    font-size: 1em;
    padding-top: 0px;
}

.navbar-brand {
    font-size: 60px;
    font-family: 'Fjalla One';
    text-shadow: 2px 2px #ff3535;
    position: relative;
    right: -60px;
}

.options {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: 'Fjalla One';
    padding-top: 310px;
    position: relative;
    left: 500px;
}

.movies {
    width: 299px;
    height: 299px;
    font-size: 60px;
    text-shadow: 2px 2px #9e1dfa;
    border-radius: 28px;
}

.music {
    width: 299px;
    height: 299px;
    font-size: 60px;
    text-shadow: 2px 2px #9e1dfa;
    border-radius: 28px;
}

.books {
    width: 299px;
    height: 299px;
    font-size: 60px;
    text-shadow: 2px 2px #9e1dfa;
    border-radius: 28px;
}

.movies, .music, .books {
    padding: 10px;
    padding-right: 10px;
    margin: 5px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 9px;
    align-items: baseline;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.cc {
    margin: 5px;
    position: relative;
    left: -20px;
  }