body {
    align-items: center;
    font-size: 1em;
    padding-top: 0px;
    background-color: rgb(255, 255, 255);
}

.navbar-brand {
    font-size: 49px;
    font-family: 'Fjalla One';
    position: relative;
    right: -40px;
}

.options {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: 'Press Start 2P';
    padding-top: 310px;
    position: relative;
    left:580px;  
}

.movies {
    width: 250px;
    height:  250px; 
    font-size: 34px;
}

.music {
    width: 250px;
    height:  250px; 
    font-size: 34px;
}

.books {
    width: 250px;
    height:  250px; 
    font-size: 34px;
}

.movies, .music, .books {
    padding: 10px;
    padding-right: 10px;
    margin: 5px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 9px;
    align-items: baseline;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

#button {
    position: relative;
    left: 300px;
    justify-content: space-between;
}