body {
<<<<<<< HEAD
    align-items: center;
    font-family: Helvetica;
    font-size: 1em;
    padding-top: 0px;
}

.navbar-brand {
    position: relative;
    right: 40px;
=======
    background:  rgb(227, 167, 98); /* fallback for old browsers */
    background: -webkit-linear-gradient(right, rgb(226, 134, 28), rgb(230, 169, 77));
    background: -moz-linear-gradient(right,  rgb(226, 134, 28), rgb(230, 169, 77));
    background: -o-linear-gradient(right, rgb(226, 134, 28),  rgb(230, 169, 77));
    background: linear-gradient(to left, rgb(226, 134, 28), rgb(230, 169, 77));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    object-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 1em;
    padding-top: 0px;
    /* position: fixed; */
  
  } 
.navbar {
    display: grid;
    grid-gap: 0;
    padding-bottom: 20px;
    padding: 0px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'a . a3 a4'
                         'b b2 b3 .'
                         'c c c c';
>>>>>>> 8c1ce8275431cc05142a006c6f14c10a0927458d
}

.cc {
  margin: 5px;
  position: relative;
  left: 90px;
}

.options {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 210px;
    position: relative;
    left:270px;
    
}

.movies {
    width: 200px;
    height:  200px; 
    font-size: 40px;
    margin: 10px;
}

.music {
    width: 200px;
    height:  200px;
    font-size:40px;
    margin: 10px;
}

.books {
    width: 200px;
    height:  200px;
    font-size:40px;
    margin: 10px;
}

.movies, .music, .books {
    padding: 10px;
    padding-right: 10px;
    margin: 5px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 9px;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

#button {
    justify-content: space-between;
}