body {
    align-items: center;
    font-size: 1em;
    padding-top: 0px;
}

.navbar-brand {
    font-size: 60px;
    font-family: 'Fjalla One';
    text-shadow: 2px 2px #ff3535;
    position: relative;
    right: -60px;
}

.navbar-nav {
    margin: 5px;
    position: relative;
    left: 500px;
}
