body {
    align-items: center;
    font-size: 1em;
    padding-top: 0px;
}

.navbar-brand {
    font-size: 60px;
    font-family: 'Fjalla One';
    text-shadow: 2px 2px #ff3535;
    position: relative;
    right: -150px;
}

.navbar-nav {
    margin: 5px;
    position: relative;
    left: 900px;
    font-size: 20px;
    width: 900px;
    height: 100px;
    margin: 0px auto;
    position: relative;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: 'Fjalla One';
    padding-top: 310px;
    position: relative;
    left:500px;
}

.rowuser {
    position: relative;
    left: 150px;
    top: 50px;
}

.myinfo {
    width: 299px;
    height: 299px; 
    font-size: 60px;
    font-family: 'Fjalla One';
    text-shadow: 2px 2px #1a191a;
    position: relative;
    left: 20px;
    padding: 20px;
    border-radius: 28px; 
    padding: 10px;
    padding-right: 10px;
    margin: 5px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 9px;
    align-items: baseline;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}


h1 {
    position: relative;
    left: 100px;
    top: 100px;
}

.controls {
    position: relative;
    left: - 100px;
    top: 0px;
}

.form-horizontal{
    position: relative;
    left: 100px;
    top: 120px;
    width: 790px;
}