<!-- <templates/log-in.html> -->
<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="../static/css/log-in.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
 
    <!-- JavaScript -->
    <!-- <script type="text/javascript" src="../static/javascript/myscript.js"></script> -->

  <style>
    .a, .navbar-brand {
      /* font-family: 'Tangerine', serif;
        font-size: 68px; */
        color:(rgb(57, 18, 233))
    }
  </style>
  </head>
  <body>

    <div class="main-body1">
      <!-- Nav Bar -->
      <div class="nav-title">
        <a class="navbar-brand" href="../templates/index.html">Welcome to DOWNTIME</a>
      </div>

          <!-- <link href="static/css/log-in.css" rel="stylesheet" type="text/css" media="all" /> -->

          <div class="login-page">
              <div class="form">
                <form class="login-form">
                  <input type="text" placeholder="username"/>
                  <input type="password" placeholder="password"/>
                  <button href="../templates/pick-library.html">login</button>
                  <p class="message">Not registered? <a href="../templates/sign-up.html">Create an account</a></p>
                </form>
              </div>
            </div>
          

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
