<!-- templates/music-library.html-->

<!doctype html>
  <head>
    <title>Music Library</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/Users/gideonscrawley/code/downtime/Downtime/static/css/music-library.css">
    

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- BOOTSTRAP THEME -->
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">  -->

    <!-- JavaScript -->
    <!-- <script type="text/javascript" src="../static/javascript/myscript.js"></script> -->

   </head>

  <body>
    <header>
      <div class="navbar">
        <a class="active" href="/home">My Music Library</a>
          <!-- <div class="" -->
          <div class="button-section">
            <button class="menu-button" id="add-new">add a new category</a>
            <button class="menut-button" id="log-out">log out</a>
          </div>
      </div>   
    </header>

    <main>
    </main>

    <footer>
      <p>&copy; 2020 DownTime, Inc. All rights reserved.</p>
      <a href="terms">Terms</a>
      <a href="privacy">Privacy</a>
      <a href="help">Help</a>
    </footer>
  </body>
</html>
