<!-- templates/music-library.html-->

<!doctype html>
  <head>
    <title>Music Library</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="../static/css/music-library.css">
    
    <script src="../static/css/audiojs/audio.min.js"></script>

    <script>
      audiojs.events.ready(function() {
        var as = audiojs.createAll();
      });
    </script>

    <script type="text/javascript" src="../static/javascript/myscript.js"></script>


    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- BOOTSTRAP THEME -->
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">  -->

    <!-- JavaScript -->

   </head>

  <body>
    <header>
      <div class="navbar">
        <a class="active" href="/home">My Music Library</a>
          <!-- <div class="" -->
          <div class="button-section">
            <button class="menu-button" id="add-new">add new music</a>
            <button class="menut-button" id="log-out">log out</a>
          </div>
      </div>   
    </header>
   
    <main>
      <div class="audiojs  " classname="audiojs" id="audiojs_wrapper0">
        <audio src="http://kolber.github.io/audiojs/demos/mp3/juicy.mp3" preload="auto"></audio>          
        <div class="play-pause"><p class="play"></p><p class="pause"></p><p class="loading"></p>
          <p class="error"></p></div><div class="scrubber"><div class="progress" style="width: 4.37625px;"></div>             
          <div class="loaded" style="width: 280px;"></div></div>
          <div class="time"><em class="played">00:03</em>/<strong class="duration">03:56</strong></div>           
          <div class="error-message"></div></div>
          
    </main>

    <footer>
      <p>&copy; 2020 DownTime, Inc. All rights reserved.</p>
      <a href="terms">Terms</a>
      <a href="privacy">Privacy</a>
      <a href="help">Help</a>
    </footer>
  </body>
</html>
