<!DOCTYPE html>
<html>
    <head>
        <title>Pick Library</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

        <!-- Custom Styles -->
        <link rel="stylesheet" type="text/css" href="../static/css/pick-library.css">
    </head>
    <body>
        <header>
            <div class="navbar">
                <a class="active" style="grid-area: a;" href="#home">DownTime</a>
                <div class="button-section">
                    <button style= "grid-area: a3;" class="menu-button" id="add-new">add a new category</a>
                    <button style= "grid-area: a4;" class="menut-button" id="log-out">log out</a>
                </div>
            </div>   
        </header>
        <main>
            <div class="library-section">
                <button style= "grid-area: b;" class="movies"><span>movies</span></button>
                <button style= "grid-area: b2;" class="music"><span>music</span></button>
                <button style= "grid-area: b3;" class="books"><span>books</span></button>
            </div>
        </main>
        <footer class="bottom" style="grid-area: c;">
            <p>&copy; 2020 DownTime, Inc. All rights reserved.</p>
            <a href="terms">Terms</a>
            <a href="privacy">Privacy</a>
            <a href="help">Help</a>
        </footer>      
    </body>
</html>
