<!-- templates/sign-up.html -->

<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="../static/css/sign-up.css">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <!-- BOOTSTRAP THEME -->
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css"> -->

    <!-- JavaScript -->
    <!-- <script type="text/javascript" src="../static/javascript/myscript.js"></script> -->

  </head>
  <body>
    
    <div class="main-body1">
      <!-- Nav Bar -->
      <div class="nav-title">
        <a class="navbar-brand" href="../templates/index.html">DOWNTIME</a>
      </div>
      
      <div class="main-w3layouts wrapper">
            <h1>SignUp Form</h1>
            <div class="form">
              <form class="signup-form">
                    <form action="/sign-up" method="post">
                        <input class="text" type="text" name="username" placeholder="Username" required="">
                        <input class="text email" type="email" name="email" placeholder="Email" required="">
                        <input class="text" type="password" name="password" placeholder="Password" required="">
                        <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
                        <div class="wthree-text">
                            <label class="anim">
                                <input type="checkbox" class="checkbox" required="">
                                <span>I Agree To The Terms & Conditions</span>
                            </label>
                            <div class="clear"> </div>
                        </div>
                        <p style="padding:10px"><a href="../templates/log-in.html"> SIGN UP</a></p>
                    </form>
                    <p>Already have an Account? <a href="../templates/log-in.html"> Log in Now!</a></p>
                </div>
            </div>