{% extends "account/base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/signup.html "%}">

<!-- Title -->
{% block head_title %}{% trans "Signup" %}{% endblock %}

<!-- Inner Body -->>
{% block inner %}
<h1>{% trans "Sign Up" %}</h1>
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<div class="main-body1">

  <!-- Navbar -->
  <div class="nav-title">
    <a class="navbar-brand" href="{% url "index" %}">DOWNTIME</a>
  </div>

  <!-- Signup Form -->
  <form class="signup-form" method="post" action="{% url "account_signup" %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>

{% endblock inner %}