<!doctype html>
<html>
    <head>
      <title>Movie Library</title>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- BOOTSTRAP THEME -->
      <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">

      <!-- Custom Styles -->
      <link rel="stylesheet" type="text/css" href="../static/css/movie-library.css">
  </head>
  <body>
    <header>
      <div class="navbar">
        <a class="active" href="#home">DownTime</a>
          <div class="button-section">
            <button class="menu-button" id="add-new">add a new category</a>
            <button class="menut-button" id="log-out">log out</a>
          </div>
      </div>   
    </header>
    <main>
    </main>
    <footer>
      <p>&copy; 2020 DownTime, Inc. All rights reserved.</p>
      <a href="terms">Terms</a>
      <a href="privacy">Privacy</a>
      <a href="help">Help</a>
    </footer>
  </body>
</html>
